* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

.container {
    width: 65%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    border: none;
    height: 30px;
    background-color: lightblue;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.garis {
    height: 2px;
    width: 75%;
    background-color: skyblue;
    margin-top: 5px;
}